
# BEGIN BackUpWordPress
# Ce fichier .htaccess permet de s'assurer que personne d'autre ne puisse télécharger vos fichiers de sauvegarde.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=88ae45ca70c5be211f86ec6f06f138d1
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress